#wrapper {
    width: 100%;
    margin: auto
}
header {
    text-align: center;
}
.menu a{
    padding: 0;
    margin: 0;
    font-size: 2rem;
    display: block;
    text-align: center;
    float: none;
    width: 100%;
}

.menu li{
    display: block;
    }
#header-menu {
    display: block;
}

#h_menu {
    width: 100%;
    margin: auto
}

.footer_row{
    display: none
}

.buttom {
    display: none
} 

#service {
    display:none
}

#carousel {
    width: 100%;
    margin: 0;
    padding: 0;
}

iframe{
  width: 100%
}
#form label,
#form input,
#form textarea
{
  width: 100%
}

#catalog .col {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

#catalog a {
    display: block;
}
#catalog img{
    width: 100%;
}

/*--about--*/
#employee .col {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
#employee img{
    width: 100%;
}

/*--catalog--*/
.sidebar-right .row{
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.product{
    display: block;
    width: 100%;
    margin: 0 0 15px 0;
}

.product-desc {
    height: auto
}
.product-name{
    font-weight: bold
}

.offer,
.product-name,
.product-desc,
.product-address,
.product-map,
.product-rooms,
.product-level,
.product-square,
.product-type-house{
    display: block;
    padding: 5px;
    margin: 5px;
    width: auto;
}

.clearer {
  clear: both;
  display: block;
  font-size: 0;
  line-height: 0;
}

.product img{
    text-align: center;
    width: 100%;
}

.pagination > li > a{
    font-size: 1rem;
    margin: 0;    
    padding: 5px;
}
.pagination > li {
    margin: 0;
    padding: 0;
}
