* {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 14px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
/*    border: 1px solid gray*/
}

#wrapper { 
    width: 1024px; 
/*    width: 80%; */
    margin: auto; 
    vertical-align: top;
    padding: 1rem;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3)
}

h1{
    font-size: 1.2rem;
    text-align: center;
    padding: 1.4rem;
}
h2{
  font-size: 1.2em;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}
h3{
  font-size: 1.2em;
  text-align: center;
}
.buttom img {
        width: 100px;
}
footer {
    text-align: center;
    margin: 10px;
    }

/*----- Навигация -----*/
nav ul {
    list-style-type: none;
}
nav li{
    display: inline-block;
    padding: 5px 10px
    }
nav ul {
    text-align: center
}


a:link   {color:#243238}
a:visited{color:#243238}
a:hover{color:#ff680b; 
        text-decoration: underline
} 
a{
    text-decoration: none;
    text-transform: uppercase;
    font-size:0.9rem
}


/*----- Услуги -----*/
#service .col{
    display: table;
    vertical-align: top;
}

#service .col{
    display: table-cell;
    width: 20%;
    border: 1px solid #FFFFFF;
    vertical-align: top;
    text-align: center;
    padding: 1rem;
}
#service img{
    width: 100px;
}
#service #service_text{
    padding: 1rem;
}

/*--КАРУСЕЛЬ--*/
.carousel {
        box-sizing: border-box;
        display: block;
/*        text-align: center;*/
        width: 50%;
        margin: 0 0 0 25% 
}

/*----- Каталог главная -----*/
#catalog ul {
    list-style-type: none;
}
#catalog li{
    padding: 1px 5rem
    }
#catalog ul {
    text-align: left;
}

#catalog .buttom {
    text-align: left;
}
#catalog .buttom img{
    width: 125px;
}
#catalog {
    vertical-align: top;
    text-align: center;
}

#catalog .col{
    vertical-align: top;
    font-size: 1rem;
    width: 48%;
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    text-align: center;
    margin: 10px 0 0 10px;
}

#catalog img{
    width: 350px;    
}

#catalog a:link   {color:#243238}
#catalog a:visited{color:#243238}
#catalog a:hover{
    color:#ff680b;
    text-decoration: underline;
}
#catalog a{
    text-decoration: none
}


/*----- О нас -----*/
#about .col{
    padding: 1rem;
}

#employee {
    vertical-align: top;
    text-align: center;
}

#employee .col{
    vertical-align: top;
    font-size: 1rem;
    width: 47%;
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    text-align: center;
    margin: 10px 0 0 10px;
}

#employee img{
    width: 350px;    
}

/*----- Контакты -----*/
#contacts .buttom{
    text-align: left
}

#contacts iframe{
    margin: 10px
}

#contacts .col{
    text-align: left;
    padding: 0 1rem;
    margin: 0.2rem;
}

#contacts #address_l {
    margin: 1rem 0;
}



/*-- форма */
#form{
    margin: 20px
}

#form .row:nth-child(4) *{
    vertical-align: top
}

#form label {
    display: inline-block;
    width: 150px;
    margin: 10px
}

#form input,
#form textarea {
    width: 300px
}

#contacts .row:nth-child(5) input,
#contacts .row:nth-child(6) input {
    width: auto;
    }

#contacts .row:nth-child(7) input {
    width: auto;
}
#contacts textarea {
    height: 150px
}

/*----- Каталог МО -----*/
.product-desc{
    text-align: left;
    font-size: 0.9rem;
    width:200px
}

.sidebar-right ul{
    list-style-type: none;
    padding: 0;
    margin: 0;   
    display: inline-block;
}

.sidebar-right {
    border: 1px solid gray;
    vertical-align: top;
    width: 60%;
    padding: 3px;
    margin: 15px 20% 15px;
}
.sidebar-right input {
    width: 50px
}
.sidebar-right select {
    width: 100px
}

.sidebar-right .row {
/*    border: 1px solid gray;*/
     display:table-cell;
     vertical-align: top;
     width: 25%
}
.row ul {
    width:200px
}


/*страницы*/
.pagination > li > a
{
    background-color: white;
    color: #243238;
}

.pagination > li > a:focus,
.pagination > li > a:hover{
    color: #ff680b;
    background-color: #eee;
    border-color: #ddd;
}
.pagination > .active > a{
    color: white;
    background-color: #ff680b !Important;
    border: solid 1px #ff680b !Important;
}

.pagination > .active > a:hover{
    background-color: #ff680b !Important;
    border: solid 1px #ff680b;
}


/*продукты*/
.product{
/*    border: 1px solid gray;*/
    display: table;
    width: 100%;
}
.product-name,
.product span,
.product img{
    display:table-cell;
    vertical-align: top;
/*    margin: 10px;*/
    padding: 0 3px 15px 3px;
/*    border: 1px solid gray;*/
}
.product img{
    padding:0
}

.product-name {
    text-align: left;
    font-size: 0.9rem;
    width: 14%;
/*    border: 1px solid gray;*/
}
.product-desc {
    width: 29%;
    height: 180px;
    font-size: 0.8rem;
}

.product-address {
    width: 11%;
    font-size: 0.8rem;
}
.product-map,
.product-rooms,
.product-level,
.product-square,
.product-type-house{
    width: 5%;
    font-size: 0.8rem;
}
.offer {
    font-size: 0.9rem;
    padding: 0 0 10px 0;
}

.product a:link   {
    color:#243238; 
    font-size: 0.8rem;
    text-transform: none
}