* {
font-family:'Open Sans',sans-serif;
color:#333;
font-size:14px;
box-sizing:border-box;
margin:0;
padding:0
}

#wrapper {
width:1024px;
margin:auto;
vertical-align:top;
padding:1rem;
box-shadow:0 0 10px 1px rgba(0,0,0,0.3)
}

h1 {
font-size:1.2rem;
text-align:center;
padding:1.4rem
}

h2 {
font-size:1.2em;
font-family:'Noto Sans',sans-serif;
text-align:center
}

h3 {
font-size:1.2em;
text-align:center
}

.buttom img {
width:100px
}

.container {
margin:10px 0
}

.footer_wrapper {
padding:20px 30px 10px;
box-sizing:border-box
}

.footer_row {
display:flex;
flex-direction:row;
justify-content:space-between
}

.footer_column {
padding:0 10px;
box-sizing:border-box;
width:100%
}

.footer_column_item {
padding-bottom:10px
}

.footer_column_item_title {
font-weight:700;
font-size:14px;
line-height:19px;
padding-bottom:2px
}

.footer_column_item_content_link-block-item {
display:block;
text-align:left;
float:none;
width:100%;
margin:2px 0
}

.footer_column_item_content_link-block {
margin-bottom:10px
}

.footer-claimer {
margin:10px 0;
font-size:12px;
text-align:center
}

a:link {
color:#243238
}

a:visited {
color:#243238
}

a:hover {
color:#ff680b;
text-decoration:underline
}

a {
text-decoration:none;
text-transform:uppercase;
font-size:.9rem
}

#header-menu {
display:flex;
justify-content:center;
align-items:center
}

.menu ul {
padding:0;
margin:0;
display:table;
width:100%
}

.menu li {
display:table-cell;
background-color:#fff;
text-align:center;
position:relative
}

.menu ul ul {
display:block;
position:absolute;
height:0;
overflow:hidden;
transition:height .4s .4s ease-out;
border-radius:5px;
z-index:999999
}

.menu ul ul a {
background-color:#29293a;
color:#a5a6b5
}

.menu ul ul a:hover {
color:#fff
}

.menu ul ul li {
display:block
}

.menu a {
color:#243238;
text-decoration:none;
height:50px;
display:inline-block;
line-height:50px;
width:100%;
text-transform:uppercase
}

.menu a:hover {
color:#ff680b
}

.menu li:hover ul {
height:250px
}

#h_menu {
width:700px;
margin:0
}

.menu li > a:after {
content:' \0025BC'
}

.menu li > a:only-child:after {
content:''
}

#service .col {
display:table;
vertical-align:top;
display:table-cell;
width:20%;
border:1px solid #FFF;
vertical-align:top;
text-align:center;
padding:1rem
}

#service img {
width:100px
}

#service #service_text {
padding:1rem
}

.carousel {
box-sizing:border-box;
display:block;
width:50%;
margin:0 0 0 25%
}

#catalog ul {
list-style-type:none
}

#catalog li {
padding:1px 5rem
}

#catalog ul {
text-align:left
}

#catalog .buttom {
text-align:left
}

#catalog .buttom img {
width:125px
}

#catalog {
vertical-align:top;
text-align:center
}

#catalog .col {
vertical-align:top;
font-size:1rem;
width:48%;
box-sizing:border-box;
display:inline-block;
padding:0;
text-align:center;
margin:10px 0 0 10px
}

#catalog img {
width:350px
}

#catalog a:link {
color:#243238
}

#catalog a:visited {
color:#243238
}

#catalog a:hover {
color:#ff680b;
text-decoration:underline
}

#catalog a {
text-decoration:none
}

#about .col {
padding:1rem
}

#employee {
vertical-align:top;
text-align:center
}

#employee .col {
vertical-align:top;
font-size:1rem;
width:47%;
box-sizing:border-box;
display:inline-block;
padding:0;
text-align:center;
margin:10px 0 0 10px
}

#employee img {
width:350px
}

#pic-employee {
text-align:center;
margin:10px
}

#contacts .buttom {
text-align:left
}

#contacts iframe {
margin:10px 0;
width:100%
}

#contacts .col {
text-align:left;
padding:0 1rem;
margin:.2rem
}

#contacts #address_l {
margin:1rem 0
}

.contacts-row {
display:inline-block;
vertical-align:top
}

#form {
display:flex;
justify-content:center;
align-items:center
}

#form h4 {
text-align:center
}

#form .row:nth-child(4) * {
vertical-align:top
}

#form label {
display:inline-block;
width:150px;
margin:2px 0
}

#form input,#form textarea {
display:block;
width:300px;
margin:2px 0
}

#form .row:nth-child(5) input,#form .row:nth-child(6) input {
width:auto
}

#form .row:nth-child(7) button {
width:auto;
margin:auto
}

#form textarea {
height:100px
}

.product-desc {
text-align:left;
font-size:.9rem;
width:200px
}

.button,.button:focus {
color:#fff;
background-color:#ff680b;
border-color:#ff680b
}

.button {
border:2px solid;
border-radius:6px;
font-size:12px;
line-height:1.5;
text-align:center;
font-family:"Oswald",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
font-weight:500;
letter-spacing:.2em;
text-transform:uppercase;
white-space:nowrap;
cursor:pointer;
padding:9px 32px;
font-size:12px;
line-height:1.5
}

.button:hover,.button:active {
color:#fff;
background-color:#792f00
}

.pagination > li > a {
background-color:#fff;
color:#243238
}

.pagination > li > a:hover,.pagination > li > span:hover {
color:#ff680b!important;
background-color:#f5f5f5;
border-color:#ddd
}

.pagination > .active > a {
color:#fff;
background-color:#ff680b!important;
border:solid 1px #ff680b!important
}

.pagination > .active > a:hover {
background-color:#ff680b!important;
border:solid 1px #ff680b
}

.product {
display:table;
width:100%
}

.product-name,.product span,.product img {
display:table-cell;
vertical-align:top;
padding:0 3px 15px
}

.product img {
padding:0
}

.product-name {
text-align:left;
font-size:.9rem;
width:14%
}

.product-desc {
width:29%;
height:180px;
font-size:.8rem
}

.product-address {
width:11%;
font-size:.8rem
}

.product-map,.product-rooms,.product-level,.product-square,.product-type-house {
width:5%;
font-size:.8rem
}

.offer {
font-size:.9rem;
padding:0 0 10px
}

.product a:link {
color:#243238;
font-size:.8rem;
text-transform:none
}

.product:hover {
background:#f6f6f6;
transition:.55s
}

.sidebar-right li {
padding:0;
margin:0;
height:20px
}

.sidebar-right ul {
list-style-type:none;
padding:0;
margin:0;
display:inline-block
}

.sidebar-right {
border:1px solid gray;
vertical-align:top;
width:100%;
padding:8px
}

.sidebar-right input {
width:50px;
margin:0 4px
}

.sidebar-right select {
width:100px
}

.sidebar-right .row {
display:table-cell;
vertical-align:top;
width:25%
}